@model TabletCollection.Models.Tablet

@{
    ViewBag.Title = $"Delete {@Model.TabletName}";
}

<div class="row well">
    <div class="offset-1 col-1">
        <h2 class="text-danger">Deleting: @Model.TabletName</h2>
    </div>
    <div class="col-8 text-muted">
        <p>
            created by: @Model.GetCreatedByUserName created on: @Model.CreatedOn |
            updated by: @Model.GetUpdatedByUserName updated on: @Model.UpdatedOn
        </p>
    </div>
    <h3 class="text-danger">Are you sure? This will permanently delete the record</h3>
</div>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TabletName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabletName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPurchased)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
