@model TabletCollection.Models.Tablet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tablet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TabletName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabletName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetTag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
