@model TabletCollection.ViewModels.CollectionViewModel

@{
    ViewBag.Title = "Collect";
}

<div class="row well">
    <div class="offset-1 col-1">
        <h2 class="text-primary">Collect tablet from:<span class="glyphicon glyphicon-user"></span> <span class="text-success">@Model.StudentFullName</span></h2>
        @if (String.IsNullOrEmpty(Model.TabletTabletName))
        {
            <p class="text-danger">Default tablet (ys-username) wasn't found. Please pick tablet manually from the dropdown.</p>
        }
    </div>
    <div class="col-8">
        <p>tech: @User.Identity.Name | Date: @DateTime.Now.ToShortDateString() - @DateTime.Now.ToShortTimeString()</p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TabletTabletName)
    @Html.HiddenFor(m => m.StudentFullName)
    @Html.HiddenFor(m => m.StudentID)
    <div class="form-horizontal col-12">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TabletID, "TabletID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TabletID", null, htmlAttributes: new { @class = "form-control", id = "select2" })
                @Html.ValidationMessageFor(model => model.TabletID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsStylus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsStylus)
                    @Html.ValidationMessageFor(model => model.IsStylus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsAC)
                    @Html.ValidationMessageFor(model => model.IsAC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsNegligence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsNegligence)
                    @Html.ValidationMessageFor(model => model.IsNegligence, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChargeNotes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChargeNotes, new { htmlAttributes = new { @class = "form-control commentsinput" } })
                @Html.ValidationMessageFor(model => model.ChargeNotes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control commentsinput" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="icon-input-btn">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                    <input type="submit" value="Collect" class="btn btn-primary" />
                </span>
                <span class="icon-input-btn">
                    <span class="glyphicon glyphicon-user"></span>
                    @Html.ActionLink("To Student List", "Index", "Students", null, new { @class = "btn btn-default" })
                </span>
                <span class="icon-input-btn">
                    <span class="glyphicon glyphicon-list"></span>
                    @Html.ActionLink("To Collections List", "Index", null, new { @class = "btn btn-default" })
                </span>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#select2').select2();
        });
    </script>
}
