@model TabletCollection.ViewModels.CollectionViewModel

@{
    ViewBag.Title = $"Delete {Model.TabletTabletName}";
}
<div class="row well">
    <div class="offset-1 col-1">
        <h2 class="text-danger">Deleting Collection of: @Model.TabletTabletName</h2>
    </div>
    <div class="col-8 text-muted">
        <p>
            created by: @Model.GetCreatedByUserName created on: @Model.CreatedOn |
            updated by: @Model.GetUpdatedByUserName updated on: @Model.UpdatedOn
        </p>
    </div>
</div>
<h3 class="text-danger">Are you sure you want to delete this record?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabletTabletName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabletTabletName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStylus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStylus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNegligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNegligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
