@model TabletCollection.ViewModels.CollectionViewModel

@{
    ViewBag.Title = $"Details - {@Model.TabletTabletName}";
}

<div class="row well">
    <div class="offset-1 col-1">
        <h2 class="text-primary">
            <span class="glyphicon glyphicon-th-list"></span>
            Collection Details for: @Model.TabletTabletName
        </h2>
    </div>
    <div class="col-8 text-muted">
        <p>
            created by: @Model.GetCreatedByUserName created on: @Model.CreatedOn |
            updated by: @Model.GetUpdatedByUserName updated on: @Model.UpdatedOn
        </p>
    </div>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabletTabletName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabletTabletName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStylus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStylus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNegligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNegligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

</div>

<div class="row well well-sm">
    <div class="col-md-10">
        <span class="icon-input-btn">
            <span class="glyphicon glyphicon-edit"></span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </span>
        <span class="icon-input-btn">
            <span class="glyphicon glyphicon-step-backward"></span>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </span>
    </div>
</div>

