@model TabletCollection.Models.Student

@{
    ViewBag.Title = $"Deleting {@Model.FullName}";
}

<div class="row well">
    <div class="offset-1 col-1">
        <h2 class="text-primary">Deleting: @Model.FullName</h2>
    </div>
    <div class="col-8">
        <p>created by: updated by:</p>
    </div>
    <h3 class="text-danger">Are you sure?</h3>
</div>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForeignExchangeBound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForeignExchangeBound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassOf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassOf)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, new {@class= "btn btn-default" })
        </div>
    }
</div>
